---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
	<div class='hero'>
		<h1>Animeshopedia</h1>
	</div>
	<div class="grid">
		<article>
			<a href="./bofuri.html">
				<img src="/img/bofuri.jpg">
				<h6>itai no wa iya nano de bougyoryoku ni kyokufuri shitai to omoimasu</h6>
			</a>
		</article>
		<article>
			<a href="./Fafnir .html">
				<img src="/img/fafnir.jpg">
				<h6>Jūō Mujin no Fafnir </h6>
			</a>
		</article>
		<article>
			<a href="./maou-retry.html">
				<img src="/img/maou sama retry.jpg">
				<h6>maou sama retry</h6>
			</a>
		</article>
		<article>
			<a href="./Gin.html">
				<img src="/img/plata.jpg">
				<h6>Gin no Guardian</h6>
			</a>
		</article>
		<article>
			<a href="./rewrite.html">
				<img src="/img/rewrite.jpg">
				<h6>rewrite</h6>
			</a>
		</article>
		<article>
			<a href="./tensura.html">
				<img src="/img/slime.jpg">
				<h6>tensei shitara slime datta ken</h6>
			</a>
		</article>
		<article>
			<a href="./uq holder.html">
				<img src="/img/uq holder.jpg">
				<h6>uq holder</h6>
			</a>
		</article>
		<article>
			<a href="./300 nen.html">
				<img src="/img/300 nen.jpg">
				<h6>Slime Taoshite 300-nen, Shiranai Uchi ni Level Max ni Nattemashita </h6>
			</a>
		</article>
		<article>
			<a href="./assassin pride.html">
				<img src="/img/assassin pride.jpg">
				<h6>assassin pride</h6>
			</a>
		</article>
		<article>
			<a href="./black bullet.html">
				<img src="/img/black bullet.jpg">
				<h6>black bullet</h6>
			</a>
		</article>
		<article>
			<a href="./charlotte.html">
				<img src="/img/charlotte.jpg">
				<h6>charlotte</h6>
			</a>
		</article>
		<article>
			<a href="./class elite.html">
				<img src="/img/classroom of the elite.jpg">
				<h6>classroom of the elite</h6>
			</a>
		</article>
		<article>
			<a href="./conception.html">
				<img src="/img/conception.jpg">
				<h6>conception</h6>
			</a>
		</article>
		<article>
			<a href="./d-frag.html">
				<img src="/img/D-frag.jpg">
				<h6>D-frag</h6>
			</a>
		</article>
		<article>
			<a href="./triniti seven.html">
				<img src="/img/trinity seven.jpg">
				<h6>trinity seven</h6>
			</a>
		</article>
		<article>
			<a href="./gakusen toshi .html">
				<img src="/img/gakusen toshi asterisk.jpg">
				<h6>gakusen toshi asterisk</h6>
			</a>
		</article>
		<article>
			<a href="./maki doll.html">
				<img src="/img/unbreakable machine doll.jpg">
				<h6>unbreakable machine doll</h6>
			</a>
		</article>
		<article>
			<a href="./smartphone.html">
				<img src="/img/isekai wa smartphone to tomo ni.jpg">
				<h6>isekai wa smartphone to tomo ni</h6>
			</a>
		</article>
		<article>
			<a href="./kami tachi.html">
				<img src="/img/kami tachi ni jirowareta otoko.jpg">
				<h6>kami tachi ni jirowareta otoko</h6>
			</a>
		</article>
		<article>
			<a href="./kenja no mago.html">
				<img src="/img/kenja no mago.jpg">
				<h6>kenja no mago</h6>
			</a>
		</article>
		<article>
			<a href="./afurieta.html">
				<img src="/img/afurieta.jpg">
				<h6>Arifureta Shokugyou de Sekai Saikyou</h6>
			</a>
		</article>
		<article>
			<a href="./seiken.html">
				<img src="/img/seiken tsukai no world break.jpg">
				<h6>seiken tsukai no world break</h6>
			</a>
		</article>
		<article>
			<a href="./blade dance.html">
				<img src="/img/seirei tsukai no blade dance.jpg">
				<h6>seirei tsukai no blade dance</h6>
			</a>
		</article>
		<article>
			<a href="./senyoku no sigrdrifa.html">
				<img src="/img/senyoku no sigrdrifa.jpg">
				<h6>senyoku no sigrdrifa</h6>
			</a>
		</article>
		<article>
			<a href="./www.working.html">
				<img src="/img/www.working.jpg">
				<h6>www.working</h6>
			</a>
		</article>
	</div>