---
layout: layouts/base.njk
---
<div class='hero'>
  <h1>Animeshopedia</h1>
</div>

<div class="grid">
  {%- for anime in collections.anime %}
    <article>
      <a href="{{ anime.url }}">
        <img src="{{ anime.data.thumbnail }}">
        <h6>{{ anime.data.titulo }}</h6>
      </a>
    </article>
  {%- endfor %}
</div>
