---
permalink: "anime/300nen/episodios/index.html"
returnLink: "anime/300nen/"
imagenFondo: /img/300-nen-hero.jpg
episodios:
  - { titulo: "Titulo 1", link: "http://www.google.com" }
  - { titulo: "Titulo 2", link: "http://www.google.com" }
  - { titulo: "Titulo 3", link: "http://www.google.com" }
---
Lista de episodios
