---
permalink: "anime/tensei-slime/episodios/index.html"
returnLink: "anime/tensei-slime/"
imagenFondo: /img/slime-hero.jpg
episodios:
  - { titulo: "Titulo 1", link: "http://www.google.com" }
  - { titulo: "Titulo 2", link: "http://www.google.com" }
  - { titulo: "Titulo 3", link: "http://www.google.com" }
---
Lista de episodios
