---
permalink: "anime/uq/episodios/index.html"
returnLink: "anime/uq/"
imagenFondo: /img/uq-holder-hero.jpg
episodios:
  - { titulo: "Titulo 1", link: "http://www.google.com" }
  - { titulo: "Titulo 2", link: "http://www.google.com" }
  - { titulo: "Titulo 3", link: "http://www.google.com" }
---
Lista de episodios
