---
imagenFondo: /img/assassin-pride-hero.jpg
thumbnail: /img/assassin-pride.jpg
titulo: ASSASSINS PRIDE
descripcion: Plot Summary In the world where only the aristocrats have the power to fight the monster—mana. A youth named Kufa is dispatched as a tutor to find Mareida's talent, a nuisance girl born in a duke's family. If she is not talented, assassinate her—that, is the dark side of his task...
LinkMono: https://monoschinos2.com/anime/assassins-pride-sub-espanol
LinkJk: https://jkanime.net/assassins-pride/
linkList: #
imagenList: assassin_pride.jpg
---
