---
imagenFondo: /img/bofuri-hero.jpg
thumbnail: /img/bofuri2.jpg
titulo: ITAI NO WA IYA NANO DE BOUGYORYOKU NI KYOKUFURI SHITAI TO OMOIMASU.
descripcion: Plot Summary After receiving an invitation from her friend Risa Shiromine, Kaede Honjou begins playing the VRMMO game New World Online as the character Maple. Lacking knowledge of the game, she allocates all her status points to defense. As a result, her movements are slow, she cannot use magic, and even gets attacked by the rabbits. However, she obtains a skill called "Absolute Defense" due to maxing out her vitality points, and a counter skill that kills in a single hit. A "mobile fortress style" novice with a poisonous skill that makes all attacks invalid and overrides all obstacles, she goes off to adventures, disregarding her irregularities.
monoLinks: 
    - https://monoschinos2.com/anime/itai-no-wa-iya-nano-de-bougyoryoku-ni-kyokufuri-shitai-to-omoimasu-sub-espanol
jkLinks: 
    - https://jkanime.net/itai-no-wa-iya-nano-de-bougyoryoku-ni-kyokufuri-shitai-to-omoimasu/
linkList: #
imagenList: /img/bofuri.jpg
---
