---
imagenFondo: /img/charlotte-hero.jpg
thumbnail: /img/charlotte.jpg
titulo: CHARLOTTE
descripcion: Plot Summary The story centers around the special abilities that occur among a small percentage of boys and girls in puberty. Yuu Otosaka uses his power without others knowing, and lives a fairly normal, average school life. Before him suddenly appears a girl, Nao Tomori. Due to his meeting with her, the fate of special power-users will be exposed.
LinkMono: https://monoschinos2.com/buscar?q=charlotte
LinkJk: https://jkanime.net/charlotte-/
LinkJk2: https://jkanime.net/charlotte-ova/ 
linkList: #
imagenList: charlotte.jpg
---
