---
imagenFondo: /img/class-elite-hero.jpg
thumbnail: /img/classroom-of-the-elite.jpg
titulo: YOUKOSO JITSURYOKU SHIJOU SHUGI NO KYOUSHITSU E
descripcion: Plot Summary Koudo Ikusei Senior High School is a leading prestigious school with state-of-the-art facilities where nearly 100% of students go on to university or find employment. The students there have the freedom to wear any hairstyle and bring any personal effects they desire. Koudo Ikusei is a paradise-like school, but the truth is that only the most superior of students receive favorable treatment. Ayanokouji Kiyotaka is a student of D-class, which is where the school dumps its inferior students in order to ridicule them. For a certain reason, Kiyotaka was careless on his entrance examination, and was put in D-class. After meeting Horikita Suzune and Kushida Kikyou, two other students in his class, Kiyotaka's situation begins to change.
monoLinks: 
    - https://monoschinos2.com/buscar?q=Youkoso+Jitsuryoku+Shijou+Shugi+no+Kyoushitsu+e
jkLinks: 
    - https://jkanime.net/youkoso-jitsuryoku-shijou-shugi-no-kyoushitsu-e-tv/
    - https://jkanime.net/youkoso-jitsuryoku-shijou-shugi-no-kyoushitsu-e-tv-2nd-season/
linkList: #
imagenList: /img/classroom-of-the-elite.jpg
---
