---
imagenFondo: /img/D-frag-hero.jpg
thumbnail: /img/D-frag.jpg
titulo: D-FRAG!
descripcion: Plot Summary Kazama Kenji likes to believe he is something of a delinquent. Moreover, others seem to like to agree that he is. Of course, Kenji’s gang finds their way to a group of four not-so-normal girls—Chitose, Sakura, Minami and Roka—and all at once, whatever reputation he may have is nothing compared to the outrageous behavior of the girls. Shanghaied into joining their club, what will happen to his everyday life from that point on?
LinkMono: https://monoschinos2.com/anime/d-frag-sub-espanol
LinkJk: https://jkanime.net/d-frag/
LinkJk2: https://jkanime.net/d-frag-ova/
linkList: #
imagenList: D-frag.jpg
---
