---
imagenFondo: /img/fafnir-hero.jpg
thumbnail: /img/fafnir.jpg
titulo: JUUOU MUJIN NO FAFNIR
descripcion: Plot Summary With the sudden appearance of the monsters that came to be called Dragons, the world had completely changed. Before long, within the human race supernatural girls with the power of the dragons, called "D," were born. The secret existence of the only male "D," the boy Mononobe Yuu, was forcefully thrown into the school where the girls of "D" gathered—Midgar, where he saw the naked body of one of the students, Iris. Furthermore, meeting his long-lost sister Mitsuki, Yuu seems to have been enrolled into this school...?! "When there's really no other choice, Iris, I will—kill you." "Can I really... believe you?" The curtains open as the "one and only story" about the boy who was supposed to become the strongest assassin and the incompetent girl unfolds—! Unlimited School Battle Action! Genre Fantasy, Romance, School
LinkMono: https://monoschinos2.com/anime/juuou-mujin-no-fafnir-sub-espanol
LinkJk: https://jkanime.net/juuou-mujin-no-fafnir/
linkList: #
imagenList: /img/fafnir.jpg
---
