---
imagenFondo: /img/ginhero.jpg
thumbnail: /img/gin.jpg
titulo: GIN NO GUARDIAN
descripcion: Plot Summary Lu Shuiyin (Riku Suigin in Japanese) is a master of gaming, a skill only known to his classmate Lu Lian (Riku Lin in Japanese). One day, Shuiyin receives a device from Lu Lian for a tomb raiding online game. While Shuiyin is excited to receive the device, Lian is suddenly kidnapped. Shuiyin touches the device that was left behind, pulling him inside the game and trapping him there. What is the imaginary world inside the device? What will Shuiyin find there? It is a world where two groups of people fight over the power of the gods, which originates from the tomb the mother goddess Pangu (Bango in Japanese). The two groups are the tomb raiders and the tomb protectors. The device Shuiyin received from Lian is called the Monolith, and it allows a normal gamer to go near the tomb. The tomb raiding group plans its attack by recruiting common people in the name of gaming. Shuiyin, as the final tomb protector, must fight against the raiders in order to save Lian.
LinkMono: https://monoschinos2.com/buscar?q=Gin+no+Guardian
LinkJk: https://jkanime.net/gin-no-guardian/
LinkJk2: https://jkanime.net/gin-no-guardian-2nd-season/
linkList: #
imagenList: /img/gin.jpg
---
