---
imagenFondo: /img/isekai-smartphone-hero.jpg
thumbnail: /img/isekai-smartphone.jpg
titulo: ISEKAI WA SMARTPHONE TO TOMO NI.
descripcion: Plot Summary Touya Mochizuki was accidentally killed, and as an apology, God allows him to be reborn in a fantasy world and will grant him any one wish he desires. And so, Touya chooses to keep his smartphone in the next world. In his second chance at life, he befriends many important figures and comes across the world's secret. He inherits the legacy of an ancient civilization and travels around nonchalantly while possessing powers that rival this world's kings.
---
