---
imagenFondo: /img/unbreakable-machine-doll-hero.jpg
thumbnail: /img/unbreakable-machine-doll.jpg
titulo: MACHINE-DOLL WA KIZUTSUKANAI
descripcion: Plot Summary During the early 20th century, along with technological advancements, scientists were able to develop sophisticated magic. The combination of science and sorcery was Makinot, circuits made from spells that were put into objects to bring them to life and even gain a personality. It was developed as a military weapon and has now spread throughout the world. Akabane Raishin is now attending the Royal Academy to become the best in the world. Accompanied by the lovely teenage girl Yaya, who is actually Raishin’s puppet weapon, he plans on rocketing to the top of the class. However, his test scores come nearly dead last although his combat skills and determination are second to none. Raishin has to compete with the deadliest of classmates if he wants to come out as the king.  
---
