---
imagenFondo: /img/seiken-hero.jpg
thumbnail: /img/seiken.jpg
titulo: SEIKEN TSUKAI NO WORLD BREAK
descripcion: Plot Summary Written by Akamitsu Awamura, the series takes place in a private high school involving the concept of "saviors." They are known as people who possess awakened memories of their past lives. The story tells of a young boy named Moroha Haimura who comes to this private school. At the school, there are two types of people Saviors, who fight enemies with weapons and techniques gleaned from the Puraana powers from their own bodies, and Kuroma, who wipe out enemies with magic to manipulate the Maana powers that surpass physics. Moroha Haimura is the first person with past lives of both Shirogane and Kuroma.
monoLinks: 
    - https://monoschinos2.com/anime/seiken-tsukai-no-world-break-sub-espanol
    - 
    - 
    - 
jkLinks: 
    - https://jkanime.net/seiken-tsukai-no-world-break/
    - 
    - 
    - 
LinkMono: 
LinkJk: 
linkList: #
imagenList: /img/seiken.jpg
---
