---
imagenFondo: /img/seirei-tsukai-no-blade-dance-hero.jpg
thumbnail: /img/seirei-tsukai-no-blade-dance.jpg
titulo: SEIREI TSUKAI NO BLADE DANCE
descripcion: Plot Summary AOnly a pure girl may enter into a spirit contract. At Areishia Spirit Academy, the daughters of nobility are assembled to take elite classes and become spirit elementalists. A boy named Kamito happened to be peeping on a student named Claire while she was taking a bath, and he accidentally makes a contract with a spirit instead of Claire. Now, Kamito has become something once thought impossible in this world — a male spirit elementalist.
monoLinks: 
    -  https://monoschinos2.com/buscar?q=Seirei+Tsukai+no+Blade+Dance 
jkLinks: 
    - https://jkanime.net/seirei-tsukai-no-blade-dance/
    - https://jkanime.net/seirei-tsukai-no-blade-dance-specials/
linkList: #
imagenList: /img/seirei-tsukai-no-blade-dance.jpg
---
