---
imagenFondo: /img/trinity-seven-hero.jpg
thumbnail: /img/trinity-seven.jpg
titulo: TRINITY SEVEN
descripcion: Plot Summary Everyday is a normal day in the small town where Kasuga Arata lives. However, everything changed on the day of the Black Sun, and following it, a magician appears before him. The Black Sun caused the Breakdown Phenomenon which destroyed the town where he lives. Because of this, his normal life was artificially reconstructed by a Grimoire that his childhood friend had left. Just what is the purpose of the magician coming to the town? What will he do with the Grimoire's keepsake?
---
