---
imagenFondo: /img/uq-holder-hero.jpg
thumbnail: /img/uq-holder.jpg
titulo: UQ HOLDER! 
descripcion: Plot Summary In the decade since the world became aware of the existence of magic, the world has undergone a massive upheaval. However, a boy named Touta lives in seclusion in a rural town far removed from these changes. His ordinary life is highlighted by his magic-using female teacher and his supportive friends. When his tranquil daily life is disrupted, he embarks on a unique adventure.
LinkMono: https://monoschinos2.com/anime/uq-holder-mahou-sensei-negima-2-sub-espanol
LinkJk: https://jkanime.net/uq-holder-mahou-sensei-negima-2/
linkList: #
imagenList: /img/uq-holder.jpg
---
