---
imagenFondo: /img/wotaku-ni-wa-koi-wa-muzukashii-hero.jpg
thumbnail: /img/wotaku-ni-wa-koi-wa-muzukashii.jpg
titulo: WOTAKU NI KOI WA MUZUKASHII
descripcion: Plot Summary After discovering that they work at the same company, a gaming crazed otaku and a fujoshi reunite for the first time since middle school. After some post-work drinking sessions they begin dating, but will it be a perfect relationship for the two?
---
