---
layout: layouts/base.njk
---
<div class='hero' style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ imagenFondo }});">
	<h1>{{ titulo }}</h1>
</div>
<div class="dos-columnas">
	<div class="description">
	<p>{{ descripcion }}</p>
	</div>
	<div class="grid">
	</div>
</div>
<section class="footer">
	<a href="/">Regresar</a>
</section>