---
layout: layouts/base.njk
---
<div class='hero' style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ imagenFondo }});">
	<h1>{{ titulo }}</h1>
</div>
<div class="dos-columnas">
	<div class="description">
		<p>{{ descripcion }}</p>
		<ul>
			{%- for linkMono in monoLinks %}
				{% if linkMono %}
				<li>
					<a href="{{linkMono}}">monoschinos</a>
				</li>
				{% endif %}
			{%- endfor %}
		</ul>
		<ul>
			{%- for linkJk in jkLinks %}
				{% if linkJk %}
				<li>
					<a href="{{linkJk}}">jkanime</a>
				</li>
				{% endif %}
			{%- endfor %}
		</ul>
	</div>
	<div class="grid">
		<article>
			<a href="{{linkList}}episodios">
				<img src="{{imagenList}}">
				<h6>cap list download</h6>
			</a>
		</article>
	</div>
</div>
<section class="footer">
	<a href="/">Regresar</a>
</section>
